body {
    background-image:img/bg5.jpg;
	background-repeat: repeat-x;
	 max-width: 100%;
    overflow-x: hidden;
}
a{
	
}
a:hover{
	background-color:none;
}
/*.l2{

    display: inline-block;
  	margin-left: -4px;
  	text-align:center;
  	float: right;
  	
  	}
.l2 a profile-image{
	margin-left: 10px;
	
	
}

.l2 a img{
	
	margin-right: 6px;
	margin-top:-7px;
	border-radius: 15px 15px 15px 15px;
	width:30px;
	height:30px;
}

.s1{
  	
  	width:auto;
    margin-left:auto;
    height: 50px;
    background-color: #778899;
  		
  	}

.s1 li a{
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 50px;
}
.s1 li a:hover{
	
	background-color: #111;
	

}

.nav1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    height:270px;
    
   
}

.nav1 li a {
	font-family: "apple chancery",corsiva ;
	font-size: 25px;
    display: block;
    color: #000;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0px 8px;
    text-decoration: none;
}

/* Change the link color on hover 
.nav1 li a:hover {
    background-color: #555;
    color: white;
    
}
.nav1{
	border-radius: 15px 40px 30px 5px;
    background-color: #808080;
    width:200px;
    margin-top: 25px;
    margin-left: 50px;
    padding-top:40px;
    opacity:0.9;
    filter: alpha(opacity=60);
}
.nav1 li.icon{
	
	display: none;
	

}*/
/*
.logo-wrap{
	display: block;
	margin-top: 40px;
	max-width:230px;
    max-height:95px;
	width: auto;
	height:auto;
}*/
#authe{
	margin-right:10px;
	padding-right:5px;
	padding-top:5px;
	padding-left:5px;
}
.logo-wrap img {
	margin-top: 5px;
	max-width: 35%;
	
   	
}
#detail{
	
	padding-left: 50px;
	padding-right: 50px;
	height:auto;
	padding-top: 0px;
	
}
#photohubdetail{
	background-color: #93d0c5;
	background-image:url(img/photohub.png);
	border:4px #e6eeff solid;
	height: 350px;
}
#designdetail{
	background-color: #93d0c5;
	
	border:4px #e6eeff solid;
	height: 350px;
}
#vrdetail{
	background-color: #93d0c5;
	
	border:4px #e6eeff solid;
	height: 350px;
}
.navbar{
	margin-top: 10px;
	background-color: #e6eeff;
	border: none;
	opacity: 0.5;
	text-align: center;
}
.navbar ul li{
	background:none;
}
.navbar-default .navbar-nav > li > a{
			font-family: Berlin Sans FB;
			font-size: 23;
            color: #00091a;           
}
.navbar-default .navbar-nav > li > a:hover{
	
	background-color: #99ccff;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  
}

.navbar .navbar-collapse {
  text-align: center;
}

/*.navbar-default .navbar-nav > ul {
	padding-left: 50px;
}*/


.container1{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	height:auto;
	/*text-align: left;*/
	font: bold 16px sans-serif;
	
	padding: 55px 50px;
	margin-top: 80px;
	
	
}
.container1 p{
	margin: 0;
	padding: 5px;
	color:white;
}
.container1 h1{
	font: bold 26px sans-serif;
	text-transform: none;
	color:#93d0c5;
	
}
footer{
	position: fixed;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}



/*footer*/

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }
/*footer 2*/
