

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body
{
    font-family: 'Open Sans', sans-serif;
}
.sidenav {
      background-color: #f1f1f1;
      height: auto;
}


.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
	
}

.fb-image-profile
{
    margin: 5px 10px 0px 20px;
    z-index: 9;
    width: 50%; 
	
}

 @media screen and (max-width: 768px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
	  .col-xs-8 .col-sm-6 .table .table-user-information .tbody .tr .td{
		  font-size:15pt;
	  }
@media (max-width:768px)
{
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: 5px 10px 0px 20px;
    z-index: 9;
    width: 15%; 
}
}